node_modules/
_lib/
coverage/
openapi.json
.DS_Store
lib
src/client/from-audio.ts
src/client/from-audio-to-text.ts
src/client/from-image.ts
src/client/from-image-to-image.ts
src/client/from-image-to-text.ts
src/client/from-text.ts
src/client/from-text-to-image.ts
src/client/from-text-to-text.ts
src/client/from-video.ts
src/client/from-video-to-text.ts
src/client/input-models.ts
src/client/output-models.ts
src/client/shortcuts.ts
src/gladia-client.ts
src/meta/openapidef.ts
src/meta/sdk-version.ts
src/models.ts
tests/from-video-to-text.spec.ts
tests/from-audio-to-text.spec.ts
tests/from-image-to-image.spec.ts
tests/from-image-to-text.spec.ts
tests/from-text-to-image.spec.ts
tests/from-text-to-text.spec.ts
