name: automatic SDK update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * 1-5'

jobs:
  generate-sdk:
    name: Generate SDK
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code of the application
        uses: actions/checkout@v1
        with:
          persist-credentials: false

      - name: install node ${{ matrix.node-version }} on the container
        uses: actions/setup-node@v1
        with:
          node-version: 18.4.0

      - name: install npm dependencies
        run: npm ci

      - name: increment version
        run: |
          git config user.email "apena@gladia.io"
          git config user.name "GladIA CI"
          npm version patch -m "[release] %s"

      - name: generate metadata
        run: npm run generate-metadata

      - name: should we update the sdk?
        # this commit will return 1 if there is some modification on the listed files, 0 otherwise
        # if the result is zero we stop the job here, because we consider there is no modifications
        run: |
          git diff --shortstat -- src/meta/endpoint-defs.ts
          echo "SHOULD_UPDATE=$(git diff --shortstat -- src/meta/endpoint-defs.ts | wc -l)" >> $GITHUB_ENV

      - name: generate sdk
        if: ${{ env.SHOULD_UPDATE != 0 }}
        run: npm run generate-sdk

      - name: lint
        if: ${{ env.SHOULD_UPDATE != 0 }}
        run: npm run lint

      - name: tests
        if: ${{ env.SHOULD_UPDATE != 0 }}
        run: npm run test

      - name: build the application
        if: ${{ env.SHOULD_UPDATE != 0 }}
        run: npm run build

      - name: create release
        if: ${{ env.SHOULD_UPDATE != 0 }}
        run: |
          git add .
          COMMIT_MSG=`git show --format=format:%B -s`
          git commit --amend -m "$COMMIT_MSG [skip ci]"

      - name: Push release
        if: ${{ env.SHOULD_UPDATE != 0 }}
        uses: CasperWA/push-protected@v2
        with:
          token: ${{ secrets.PUSH_TO_MAIN }}
          branch: main
          tags: true

      - name: Publish release to NPM
        uses: JS-DevTools/npm-publish@v1
        with:
          access: public
          token: ${{ secrets.NPM_TOKEN }}
