name: continuous integration delivery
on:
  # run if there is a push to main branch
  push:
    branches:
      - 'main'

jobs:
  generate-sdk:
    name: Generate SDK
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code of the application
        uses: actions/checkout@v1
        with:
          persist-credentials: false

      - name: install node ${{ matrix.node-version }} on the container
        uses: actions/setup-node@v1
        with:
          node-version: 18.4.0

      - name: install npm dependencies
        run: npm ci

      - name: increment version
        run: |
          git config user.email "apena@gladia.io"
          git config user.name "GladIA CI"
          npm version patch -m "[release] %s"

      - name: generate metadata
        run: npm run generate-metadata

      - name: generate sdk
        run: npm run generate-sdk

      - name: lint
        run: npm run lint

      - name: tests
        run: npm run test

      - name: build the application
        run: npm run build

      - name: create release
        run: |
          git add .
          COMMIT_MSG=`git show --format=format:%B -s`
          git commit --amend -m "$COMMIT_MSG [skip ci]"

      - name: Push release
        uses: CasperWA/push-protected@v2
        with:
          token: ${{ secrets.PUSH_TO_MAIN }}
          branch: main
          tags: true

      - name: Publish release to NPM
        uses: JS-DevTools/npm-publish@v1
        with:
          access: public
          token: ${{ secrets.NPM_TOKEN }}
